@model DTOLayer.ChangePasswordModelDTO
<style>
    .pass_show{position: relative} 

    .pass_show .ptxt { 

    position: absolute; 

    top: 50%; 

    right: 10px; 

    z-index: 1;
            color: #4CB9E7;
            margin-top: -10px; 

    cursor: pointer; 

    transition: .3s ease all; 

    } 

    .pass_show .ptxt:hover{color: #333333;} 

    .btn{
        background-color:#4CB9E7 !important;
        color:#ffffff!important;
    }

    label{
        margin-top:10px;
    }
</style>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form asp-action="changepassword" asp-controller="login" method="post">
    <div class="d-flex justify-content-center align-content-center" style="margin-top:80px;">
        <div class="w-50">

            <label asp-for="OldPassword">Eski şifre</label>
            <div class="form-group pass_show">
                <input asp-for="OldPassword" type="password" class="form-control" placeholder="Şifreniz">
                <span asp-validation-for="OldPassword"></span>
            </div>
            <label asp-for="NewPassword">Yeni şifre</label>
            <div class="form-group pass_show">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Yeni şifre">
                <span asp-validation-for="NewPassword"></span>
            </div>
            <label asp-for="CheckNewPassword">Yeni şifre tekrar</label>
            <div class="form-group pass_show">
                <input asp-for="CheckNewPassword" type="password" class="form-control" placeholder="Yeni şifre tekrar">
                <span asp-validation-for="CheckNewPassword"></span>
            </div>
            <div class="form-group mr-4">
                <input type="submit" class="form-control btn" value="Şifre değiştir">
            </div>
        </div>
    </div>
</form>

@if (ViewBag.error != null)
{
    <div class="w-100 text-center">
        <ul>
        @foreach (var error in ViewBag.error)
        {
          <li>@error.Description</li>  
        }
        </ul>
    </div>
}
<script>
      
//$(document).ready(function(){
//$('.pass_show').append('<span class="ptxt">Show</span>');  
//});

//$(document).on('click','.pass_show .ptxt', function(){ 

//$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

//$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

//});  
</script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>