@model Depo

<div class="row">
    <div class="col-6">Metrekare Net </div>
    <div class="col-6">@Model.MetrekareNet m2</div>
</div>
<div class="row">
    <div class="col-6">Ada No. </div>
    <div class="col-6">@Model.AdaNo</div>
</div>
<div class="row">
    <div class="col-6">Parsel No. </div>
    <div class="col-6">@Model.ParselNo</div>
</div>
<div class="row" style="border:none">
    <div class="col-6">Metrekare Fiyat </div>
    <div class="col-6">@Model.MetrekareFiyat</div>
</div>