@model Depo

<tr>
    <td scope="row">Metrekare Net </td>
    <td>@Model.MetrekareNet m2</td>
</tr>
<tr>
    <td scope="row">Ada No. </td>
    <td>@Model.AdaNo</td>
</tr>
<tr>
    <td scope="row">Parsel No. </td>
    <td>@Model.ParselNo</td>
</tr>
<tr>
    <td scope="row">Metrekare Fiyat </td>
    <td>@Model.MetrekareFiyat</td>
</tr>