<form asp-action="GelirGiderEkle" method="post" asp-controller="muhasebe" class="w-75 mb-5 pt-3">
    <div class="form-group w-100">
        <label for="gelir">Gelir giriniz</label>
        <input name="GelirGider" type="hidden" value="Gelir" />
        <input name="Name" id="gelir" type="text" class="form-control mt-1" placeholder="Gelir ismi" />
        <input name="Cost" type="number" class="form-control mt-1" placeholder="Gelir miktarı" />
        <button type="submit" class="btn btn-success mt-4" style="color:white;">Gelir ekle</button>
    </div>
</form>